/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
}


h3 {
    margin: 40px;
}

.form-control {
    border: 2px solid #ced4da;
    border-radius: unset;
    width: 99%;
}

.summary-label {
    color: darkgray;
}

.summary-text {
    font-size: 1.4rem;
    color: dimgray;
}

.step-image {
    max-width: 290px;
    margin-top: 70px;
}

.exlamation-img {
    height:20px;
    width:20px;
}

/*#LastName-error::before {    //FUNGERAR men bilden blir för stor, width och height biter inte.
    content: url('/images/Exclamation.jpg');
    height: 20px;
    width: 20px;
}*/











.stage-group {
    min-width: 400px;
    max-width: 400px;
    /*border: 1px solid black;*/
    display: inline-block;
    position: relative;
}

.stage-hr {
    z-index: -1;
    position: absolute;
    color: gray;
    top: 0px;
    width: 100%;
}

.stage-current {
    border: 2px solid red;
    background-color: red;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: inline-block;
}

.stage-current > p {
    color: white;
    font-weight: bold;
    font-size: 1rem;
    position: relative;
    top: 0px;
    left: 0px;
    display: inline-block;
}

.stage-not-current {
    border: 2px solid gray;
    background-color: white;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: inline-block;
}

.stage-not-current > p {
    color: gray;
    font-weight: bold;
    font-size: 1rem;
    position: relative;
    top: 0px;
    left: 0px;
    display: inline-block;
}
.exclamation-target
{
}

    .exclamation-target > span > span::before {
        border: 2px solid red;
        background-color: red;
        border-radius: 50%;
        width: 23px;
        height: 23px;
        display: inline-block;
        content: " ";
        z-index: 50;
    }

.exclamation-character {
}

    .exclamation-character::after {
        display: inline;
        content: "!";
        color: white;
        font-weight: bold;
        z-index: 100;
        position: absolute;
        left: 23px;
    }

